<div class="container">
    <div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-6">
<div class="jumbotron" id="x">
    <h2 class="text-center mb-5">REGISTER</h2>
    <form #ref="ngForm" (ngSubmit)="regData(ref.value);ref.reset()">
        <div class="form-group">
            <label for="u">username</label>
          
            <input type="text" name="email"  id="u" placeholder="enter email" ngModel class="form-control">
        </div>
        <div class="form-group">
            <label for="f">firstname</label>
          
            <input type="text" name="firstname" placeholder="last name" ngModel id="f" class="form-control">
        </div>
        <div class="form-group">
            <label for="l">lastname</label>
          
            <input type="text" name="lastname" placeholder="enter lastname" ngModel id="l" class="form-control">
        </div>
        <div class="form-group">
            <label for="p">password</label>
          
            <input type="password" name="password" placeholder="enter password" ngModel id="p" class="form-control">
        </div>
        <div class="form-group">
            <label for="ph">phonenumber</label>
          
            <input type="number" name="phonenumber" placeholder="phonenumber" ngModel id="ph" class="form-control">
        </div>
     
        <div class="text-center">
            <button class="btn btn-dark" type="submit">REGISTER</button>
        </div>
    </form>
</div>
</div>
<div class="col-sm-3"></div>
</div>
</div>

